body {
    font-family: Arial, sans-serif;
    padding: 20px;
    background-color: #f9f9f9;
}

h1 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
}

.input-container {
    display: flex;
    align-items: center;
    gap: 10px;
    
}

form input {
    padding: 8px;
    width: 160px; /* Reduced width */
    border-radius: 4px;
    border: 1px solid #ccc;
}

form button {
    padding: 8px 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

form button:hover {
    background-color: #45a049;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table, th, td {
    border: 1px solid #ddd;
}

th, td {
    padding: 12px;
    text-align: center;
}

th {
    background-color: #4CAF50;
    color: white;
}

td button {
    padding: 5px 10px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 4px;
    cursor: pointer;
}

td button:hover {
    background-color: #ddd;
}

/* Plus button for adding more fields */
.plus-button {
    width: 30px;
    height: 30px;
    background-color: red;
    color: white;
    border: none;
    font-size: 20px;
    cursor: pointer;
    border-radius: 4px;
    text-align: center;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.plus-button:hover {
    background-color: darkred;
}

#namePhoneContainer {
    display: block; /* Ensures the container handles blocks of input fields */
    margin-top: 10px;
}

#namePhoneContainer div {
    margin-bottom: 10px; /* Optional: Adds spacing between each input group */
}

